body {
    background: #222;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

.image-container {
    width: 90%;
    margin:  20rem auto 0 auto;
    text-align: center;
    
}

.btn-container {
    text-align: center;
    margin-top: 3rem;
}
.btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    border-radius: 0;
    background: #222;
    color: #ddd;
    border: 0.1rem solid #ddd;
    border-radius: 0.5rem;
    box-shadow: 0 0.2rem #ddd;
    width: 16rem;
    height: 4.5rem;
    font-size: 2rem;
    font-weight: bold;

}
.btn:active {
    transform: translateY(0.2rem);
    box-shadow: 0 0 0 #222;
}
.move-y { animation: move-y .1s infinite alternate ease-in-out; }

@keyframes move-y {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(1rem);
    }
}
.result-container {
    background: transparent;
    backdrop-filter: blur(1rem);
    border: 0.1rem solid #ddd;
    border-radius: 1rem;
    width: 90%;
    height: 48rem;
    position: absolute;
    left: 1.5rem;
    top: 6rem;
    opacity: 0;
}
.show-display {
    opacity: 1;
}
